.player-card {
    box-sizing: border-box;
    background-color: $card-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    border-radius: 10px;

    .player-image {
        place-self: center;
    }

    .player-name {
        grid-column: 2/3;
        justify-self: center;
    }

    .score {
        grid-column: 3/4;
        justify-self: center;
    }

    #roll-dice {
        grid-column: 4/5;
        align-self: end;
        font-family: comfortaa;
        border-radius: 50px;
        cursor: pointer;
    }

    .dice-container {
        background-color: white;
        grid-row: 2/3;
        grid-column: 1/5;
        @include flex-row(space-evenly);
        align-items: center;
        border-radius: 10px;
    }
}

@media screen and (min-width: 1051px){
    .player-card {
        height: 100%;
        padding: 50px;
        
    }

    #roll-dice {
        margin-bottom: 3rem;
        background-color: $card-color;
        border: 1px $accent-color solid;
        color: $accent-color;
        padding: 1rem;
    }

    .player-name {
        align-self: center;
    }

    .score {
        align-self: center;
    }
}

@media screen and (max-width: 1050px) {
    .player-card {
        padding: 20px;
        grid-gap: 20px;
        height: 40%;
    }

    #roll-dice {
        height: 30%;
        font-size: 1rem;
        background-color: $accent-color;
        border: none;
        color: white;
    }

    .player-name {
        margin-top: 20px;
    }

    .score {
        margin-top: 20px;
    }

    #roll-dice:active {
        background-color: #ff6f47;
    }

    .dice-container img {
        width: 150px;
        height: 150px;
    }
    
}

@media screen and (max-width: 500px) {
    .player-card {
        padding: 15px;
        grid-gap: 15px;
    }

    .dice-container img {
        max-width: 100px;
        max-height: 100px;
    }

    #roll-dice {
        font-size: 0.6rem;
    }
}