#popup-background {
  background-color: rgba(72, 113, 116, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

#popup-container {
  width: 300px;
  height: 200px;
  background-color: #D6E4E5;
  border-radius: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: 2px #497174 solid;
}
#popup-container div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 2rem;
}
#popup-container div button {
  width: 60%;
  border: 1px #497174 solid;
  border-radius: 50px;
  padding: 0.5rem;
  cursor: pointer;
}

@font-face {
  font-family: comfortaa;
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}
html, body {
  margin: 0;
  height: 100vh;
  background-color: #EFF5F5;
  font-family: comfortaa;
}

main {
  height: 100vh;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1051px) {
  p {
    font-size: 1.5rem;
  }
  #rounds p {
    font-weight: bold;
    font-size: 2rem;
  }
  main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
  }
  main #you {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main #rounds {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
  }
  main #cpu {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 1050px) {
  body {
    display: grid;
    place-items: center;
  }
  body main {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
  }
  p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  p {
    font-size: 0.6rem;
  }
}
.player-card {
  box-sizing: border-box;
  background-color: #D6E4E5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  border-radius: 10px;
}
.player-card .player-image {
  place-self: center;
}
.player-card .player-name {
  grid-column: 2/3;
  justify-self: center;
}
.player-card .score {
  grid-column: 3/4;
  justify-self: center;
}
.player-card #roll-dice {
  grid-column: 4/5;
  align-self: end;
  font-family: comfortaa;
  border-radius: 50px;
  cursor: pointer;
}
.player-card .dice-container {
  background-color: white;
  grid-row: 2/3;
  grid-column: 1/5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

@media screen and (min-width: 1051px) {
  .player-card {
    height: 100%;
    padding: 50px;
  }
  #roll-dice {
    margin-bottom: 3rem;
    background-color: #D6E4E5;
    border: 1px #EB6440 solid;
    color: #EB6440;
    padding: 1rem;
  }
  .player-name {
    align-self: center;
  }
  .score {
    align-self: center;
  }
}
@media screen and (max-width: 1050px) {
  .player-card {
    padding: 20px;
    grid-gap: 20px;
    height: 40%;
  }
  #roll-dice {
    height: 30%;
    font-size: 1rem;
    background-color: #EB6440;
    border: none;
    color: white;
  }
  .player-name {
    margin-top: 20px;
  }
  .score {
    margin-top: 20px;
  }
  #roll-dice:active {
    background-color: #ff6f47;
  }
  .dice-container img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 500px) {
  .player-card {
    padding: 15px;
    grid-gap: 15px;
  }
  .dice-container img {
    max-width: 100px;
    max-height: 100px;
  }
  #roll-dice {
    font-size: 0.6rem;
  }
}